<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FeedLogado</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/feedlogado.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>



</head>

<body>
    <div class="navbar">
        <label for="lg">
            <div class="logo"><span><img id="img-logo" src="../img/cjr.png"></span></div>
        </label>
        <form action="/">
            <button id="lg" style="display: none;">AAAA</button>
        </form>       
         <div class="navbar-direito">
            <% if(!usuariologado.imagem) {%>
                <label for="FotoPerfil">
                    <img class="ImagemPerfil ImgPequena" style="height: 60px; width: 60px; margin-bottom: 20px; cursor: pointer;" src="../img\ImagemPerfil.png" alt="ImagemPerfil">
                </label>
                <% }else{ %>
                    <label for="FotoPerfil">
                        <img style="height: 60px; width: 60px; margin-bottom: 10px; cursor: pointer;" src="<%=usuariologado.imagem%>" alt="Imagem do Usuário" class="ImagemPerfil ImgPequena">
                    </label>
                    <% } %>
             <form action="/meuperfil">
                <button type="submit" id="FotoPerfil" style="display: none;"></button>
             </form>       
            <a href="/meuperfil" class="link"><%=usuariologado.username%></a>
            <form action="/logout" method="post">
                <button class="button">Logout</button>
            </form>
        </div>
    </div>

    
    <div class="feed">
        <button id="openModalBtn" class="bnt">Criar Publicacao</button>
        <% for (let i = posts.length - 1; i >= 0; i--) { %>
            <div class="tweet">
                <% if(!posts[i].User.imagem) {%>
                <img class="ImagemPerfil" src="../img\ImagemPerfil.png" alt="ImagemPerfil">
                <% }else{ %>
                    <img style="height: 60px; width: 60px;" src="<%= posts[i].User.imagem %>" alt="Imagem do Usuário" class="ImagemPerfil">
                    <% } %>
                    <div class="username"><a href="perfil/<%= posts[i].User.id %>"><%= posts[i].User.username %></a></div>
                    <%const dataString = posts[i].updated_at;%>
                    <%const data = new Date(dataString);%>
                    <%const dia = data.getDate();%>
                    <%const mes = data.toLocaleString('default', { month: 'long' });%>
                    <% const dataFormatada = `${dia} de ${mes} `;%>
                    <div class="timestamp">- <%= dataFormatada %></div>
                    <div class="content"><a href="post/<%= posts[i].id %>"><%= posts[i].content %></a></div>
                    <a href="post/<%= posts[i].id %>"><img id="balao" class="Balao" src="../img/Balão.png" alt="Balao"></a>
            </div> 
            <% } %>  
        </div>

        <div id="modal" class="modal">
        <form action="/CriarPost" method="post">
            <div class="modal-content">
                <div id="simplemde-container">
                    <textarea rows="10" id="textarea" name="content" placeholder="POST"></textarea>
                </div>
            <div class="botoes">
                <span class="close">Cancelar</span>
                <button type="submit" id="saveBtn" class="bnt">Publicar</button>
            </div>
        </form>
    </div>
        <script>
            const openModalBtn = document.getElementById("openModalBtn");
            const modal = document.getElementById("modal");
            const closeBtn = document.getElementsByClassName("close")[0];
            const saveBtn = document.getElementById("saveBtn");
            const textarea = document.getElementById("textarea");
            const modal_coment = document.querySelector("#modal-coment")

            openModalBtn.addEventListener("click", () => {
                modal.style.display = "block";
            });

            closeBtn.addEventListener(  "click", () => {
                    modal.style.display = "none";
            });

            var simplemde = new SimpleMDE({ element: document.getElementById("textarea") });

        </script>
</body>
</html>